<%= form_with(model: task, url: board_tasks_path(@board), class: "contents flex flex-col pb-2") do |form| %>
  <div class="relative flex flex-col items-start p-4 mt-3 bg-white rounded-lg cursor-pointer border border-blue-400 group">
    <%= form.text_field :name, class: "rounded-lg cursor-pointer border border-blue-400 w-full mt-3 text-sm font-medium", placeholder: "New task name" %>
    <%= form.hidden_field :column_id, value: task.column_id %>

    <div class="flex items-center w-full mt-3 text-xs font-medium text-gray-400">
      <div class="flex items-center">
        <%= form.submit "Save", class: "rounded-lg text-xs px-4 py-2 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  </div>
<% end %>
