<div class= "flex flex-grow justify-center px-10 mt-4 space-x-6 overflow-auto">
  <%= turbo_stream_from @board %>
  <%= render @board.columns %>
  <%= render 'columns/form', column: Column.new %>
</div>