<div id="<%= dom_id kanban %>">
  <% if action_name != "show" %>
    <%= link_to "Show this kanban", kanban, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this kanban', edit_kanban_path(kanban), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
